<%= form_for(@telecom) do |f| %>
  <% if @telecom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telecom.errors.count, "error") %> prohibited this telecom from being saved:</h2>

      <ul>
      <% @telecom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :context %><br />
    <%= f.text_field :context %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_field :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
