<%= form_for(@replacement) do |f| %>
  <% if @replacement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@replacement.errors.count, "error") %> prohibited this replacement from being saved:</h2>

      <ul>
      <% @replacement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entity__meta_id %><br>
    <%= f.text_field :entity__meta_id %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :hardware_id %><br>
    <%= f.text_field :hardware_id %>
  </div>
  <div class="field">
    <%= f.label :replacement_id %><br>
    <%= f.text_field :replacement_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
