<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Network Engineering | Office of the CIO | SLAC National Accelerator Center" %></title>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <!-- For third-generation iPad with high-resolution Retina display: 144 x 144 -->
  <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
  <!-- For iPhone with high-resolution Retina display: 114 x 114 -->
  <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
  <!-- For first- and second-generation iPad: 72 x 72  -->
  <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: 57 x 57 -->
  <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
  <!-- For all other devices: 32 x 32 -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "bootstrap_and_overrides", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "scaffolds", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "slac", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>  
    
  <script>
  // keep the navbar at the top if it scrolls past initial top position
  $(document).scroll(function(){
    // deal with the vertical position of the navbar
    if (!$('.navbar').attr('data-top')) {
      if ($('.navbar').hasClass('navbar-fixed-top')) return;
      var offset = $('.navbar').offset()
      $('.navbar').attr('data-top', offset.top);
    }
    if ( $('.navbar').attr('data-top') <= $(this).scrollTop() ) {
      $('.navbar').addClass('navbar-fixed-top');
    } else {
      $('.navbar').removeClass('navbar-fixed-top');
    }
  });
  
  // stretch the header line to to side on page changes
  var on_page_load = function(){
    function AdjustArrowLine() {
      var a = $('.arrow-line');
      if (!a.attr('data-left')) {
        a.attr('data-left', a.offset().left);
      }
      var w = $(window).width() - a.attr('data-left') - 32;
      // console.log( 'window width ' + $(window).width() + ', arrow offset ' + a.offset().left + " => " + w );
      a.width( w );
    }
    AdjustArrowLine();
    $(window).resize( AdjustArrowLine );
  };
  $(document).ready( on_page_load );
  document.addEventListener( 'page:change', on_page_load );
  
  </script>
  
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar-brand">

      <div class="navbar-logo">

        <a class="brand" href="http://www.slac.stanford.edu"><img class="logo" src="/assets/slac-logo.png" alt="SLAC Logo"></a>
        <div class="arrow-head"></div>
        <div class="arrow-line">
          <!-- <div class="resources">
            <a href="http://www.slac.stanford.edu/general/staff-resources.aspx">Staff Resources</a> | <a href="http://www.slac.stanford.edu/general/research-resources.aspx">Research Resources</a>
          </div> -->
          <div class="pull-right">
            <table id="user">
              <tr>
                <td>
                <% if not @current_user.user %>
                  <a href="<%= 'https://' + request.host_with_port + request.fullpath %>">Login</a>
                <% else  %>
                  <%= @current_user.user %>
                <% end %>
                </td>
                <td>
                  <i class="icon-user icon-white"></i>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="dropdown">
            <a id="drop-home" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop-home">
              <li role="presentation"><%= link_to "Home", home_path, :role=>"menuitem", :tabindex=>"-1" %></li>
              <li role="presentation"><%= link_to "ITDS", itds_path, :role=>"menuitem", :tabindex=>"-1" %></li>
              <li role="presentation"><%= link_to "NetOps", netops_path, :role=>"menuitem", :tabindex=>"-1" %></li>
              <li role="presentation"><%= link_to "TechCoords", techcoords_path, :role=>"menuitem", :tabindex=>"-1" %></li>
              <li role="presentation"><%= link_to "Telecoms", telecoms_path, :role=>"menuitem", :tabindex=>"-1" %></li>
              <li role="presentation"><%= link_to "MCC", mccs_path, :role=>"menuitem", :tabindex=>"-1" %></li>
              <li role="presentation"><%= link_to "Cyber", cybers_path, :role=>"menuitem", :tabindex=>"-1" %></li>

              <li role="presentation"><%= link_to "Beta Pages", beta_path, :role=>"menuitem", :tabindex=>"-1" %></li>

            </ul>
          </li>
            
          <li><%= link_to "Status", performance_path %></li>
          <li><%= link_to "Devices", devices_path %></li>
          <li><%= link_to "Subnets", subnets_path %></li>
          <li><%= link_to "Topology", weathermaps_path %></li>
          <!-- <li><%= link_to "Wireless", wirelessmap_path %></li> -->

        </ul>
      </div>
    </div>

    <div class="contents container-fluid">
        <%= bootstrap_flash %>
        <%= yield %>
    </div>

    <div class="footer container-fluid">
      <div class="footer-text">
        <div class="footerUpperLeftContainer">
          <span>&raquo;</span> <a href="/general/careers.aspx" >CAREERS</a>
          <span>&raquo;</span> <a href="/general/site-index.aspx" >SITE INDEX</a>
          <span>&raquo;</span> <a href="/general/feedback.aspx" >SITE FEEDBACK</a>
          <span>&raquo;</span> <a href="/general/privacy.aspx" >PRIVACY POLICY</a>
          <span>&raquo;</span> <a href="/general/safety.aspx">SAFETY</a>
        </div>
        <div class="footerHorizontalBar"></div>
        <div class="footerLowerLeftContainer">
          <div>
            <span><b><a href="http://www.slac.stanford.edu">SLAC NATIONAL ACCELERATOR LABORATORY</a></b> 2575 Sand Hill Road, Menlo Park, CA 94025</span><br />
            <span>Operated by <a href="http://www.stanford.edu" target="_blank">Stanford University</a> for the <a href="http://science.energy.gov" target="_blank">U.S. Department of Energy Office of Science</a></span>
          </div>
        </div>
        <!-- <p>&copy; SLAC Networking Engineering 2013</p> -->
      </div>
      <div class="footer-logos">
        <a href="http://www.stanford.edu" target="_blank">
          <img src="/assets/stanford-logo.png" alt="Stanford University"></img>
        </a>
        <a href="http://science.enery.gov" target="_blank">
          <img src="/assets/doe-logo.png" alt="Department of Energy"></img>
        </a>
      </div>
    </div>

</body>
</html>
